syntax: glob
*.swp
*.swo
*.swm
*.swn
*.swl
*.swk
*~
*.bak
*.orig
.hg
.hgignore
*.o
*.so
*.lo
*.la
dev.conf
chaind
chaind_debug
core
compile
depcomp
install-sh
missing

Makefile
Makefile.in
aclocal.m4
autom4te.cache
m4
config.guess
config.log
config.status
config.sub
configure
libtool
ltmain.sh
libchain/stamp-h1
src/stamp-h1
stamp-h1

chaind_config.h
libchain/libchain_config.h

.deps
.libs
